.react-autosuggest__container {
  position:relative;
  z-index:5;
  float: left;
  flex:1;
  max-width:30rem;
}

.react-autosuggest {
    &__suggestions-container {
        border-radius: .2rem;
        overflow: hidden;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
        position: relative;
        position:absolute;
        top:6rem;
        left:0;
        margin: 1rem 0;
        z-index: 999;

        @include breakpoint(xxs) {
          position:fixed;
          left:2rem;
          top:9rem;
          width:100%;
        }
    }

    &__section-container {
        background: #FFF;
        position: relative;
        z-index: 2;
        max-width: 30rem;
        overflow: hidden;
        border-bottom:.1rem solid color(light);
        
        &:last-of-type {
            border-bottom:0;
        }
    }

    &__suggestions-list {
        float:left;
        width:100%;
    }

    &__suggestion {
        float:left;
        width:100%;
        border-bottom:1px solid #EEE;

        &:last-child {
            border-bottom:0;
            overflow: hidden;
        }
    }

    &__input {
      background:none;
      border:0;
      height: 100%;
      color:#FFF;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      padding:0 5rem 0 6rem;
      font-size:1.6rem;
      overflow:hidden;
      font-weight:600;
      transition:.2s all;

      &::-webkit-input-placeholder {
        color: rgba(255,255,255, .2);
        transition:.2s all;
      }

      &:focus {
        outline:none;
        color: rgba(255, 255, 255, .8);
      }

      @include breakpoint(xxs) {
        font-size:1.4rem;
      }
    }

    &__section-container {
        width: 35rem;
        background:#FFF;
        border-radius:0 0 .2rem .2rem;
        box-shadow: 0 10px 15px rgba(0,0,0, .3);
        z-index:2;
        position:relative;
        &--first {
            border-radius:.2rem .2rem 0 0;
        }

        @include breakpoint(xxs) {
          width:100%;
          max-width:calc(100% - 4rem);
        }
    }
}