.video-js {
  width:100%;
  height:calc(100vh - 2rem);

  @include breakpoint(xxs) {
    height:30rem;
  }
}

.vjs-text-track-display div {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFF;
  background:transparent !important;
  text-shadow:2px 2px #000;
  * {
    background: transparent !important;
  }
}